# list(리스트)

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스는 **0** 부터 시작.
  * 리스트의 마지막 인덱스는(원소 개수 -1).
* 리스트는 원소들을 추가, 삭제, 변경할 수 있음.
  * **`tuple`과 다른 점!!**
  * list는 값들을 변경할 수 있는 타입.
  * tuple는 값들을 변경할 수 없는 타입.

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 4, 5, 10]
numbers

[1, 2, 3, 4, 5, 10]

# 인덱싱(indexing)

인덱스를 사용해서 리스트의 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트 numbers의 인덱스 0 위치의 원소
numbers[5] # 리스트 numbers의 인덱스 5 위치의 원소

numbers[-1] # 리스트에서 가장 마지막 원소
numbers[-2]
numbers[-6]

1

# slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

`list[start:end]`

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start를 생략한 경우에는 첫번째 원소부터 잘라냄.
  * `list[0:5]`과 `list[:5]`는 같은 결과.
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 **리스트**

In [ ]:
numbers
numbers[1:4]
numbers[:4]

[1, 2, 3, 4]

In [ ]:
numbers[3:6]

[4, 5, 10]

In [ ]:
# 리스트에서 앞에서 3개를 선택
numbers[:3]

[1, 2, 3]

In [ ]:
# 리스트에서 뒤에서 3개를 선택
numbers[-3:]

[4, 5, 10]

In [ ]:
numbers[0:1] # slicing -> 리스트

[1]

In [ ]:
numbers[0] # indexing -> 값

1

# 문자열(str)

* 문자들의 **리스트**.
* 문자열은 인덱스를 사용할 수 있음
* indexing, slicing 사용 가능.

In [ ]:
message = '안녕하세요, 파이썬!' # 11개의 문자들로 이루어진 리스트.
message[0] # 문자열에서 첫번째 문자

'안'

In [ ]:
message[-1] # 문자열에서 마지막 문자

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] # 문자열에서 뒤에서 3글자

'이썬!'

# 리스트의 문자열 산술 연산: +, *

* `list + list`
* `list * int 또는 int * list`

In [ ]:
print('hello' + 'python')
print('hello python ' * 3)

hellopython
hello python hello python hello python

In [ ]:
[1, 2, 3] + [4, 5, 6] # concatenate

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

list와 for 반복문

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
numbers = [1, 10, 5, 100]
for x in numbers:
  print(x)

1
10
5
100

In [ ]:
# numbers의 인덱스 번호와 인덱스의 값을 동시에 출력

for i in range(len(numbers)):
  print(i, ':', numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
# enumerate함수에 list를 넘겨서 사용하고 인덱스와 인덱스의 값을 꺼내줌
# 파이썬에서는 변수를 두개 선언할 수 있음.

for i, v in enumerate(numbers):
  print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [10, 11, 12]
# numbers1 과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는 리스트.
#[11, 13, 15]

result = []   # 빈(empty) 리스트
for i in range(len(numbers1)): # 0 <= i < len
  result.append(numbers1[i] + numbers2[i])
result

[11, 13, 15]

In [ ]:
# range함수보다 zip 함수를 사용하는게 더 간편함

result = []
for x, y  in zip(numbers1, numbers2):
  result.append(x + y)
result

[11, 13, 15]

파이썬에서 난수를 만드는 방법:

In [ ]:
import random # random 모듈을 임포트

In [ ]:
# random 모듈의 random() 함수를 호출함
random.random() # [0, 1) 범위(0 <= x < 1)의 실수 난수를 리턴.

0.09512173105964017

In [ ]:
# random 모듈의 randrange() 함수를 호출
random.randrange(10) # [0, 10) 범위의 정수 난수를 리턴.

9

In [ ]:
random.randrange(1, 4) #[1, 4) 범위의 정수 난수를 리턴.

3

In [ ]:
random.randint(1, 10) #[1, 10] 범위의 정수 난수를 리턴.

9

#Exercises

Ex 1.
1. 빈 리스트를 생성.
2. 1 이상 10 이하의 정수 난수 5개를 저장.
3. 리스트의 모든 정수들의 합을 출력.
4. 리스트의 모든 정수들의 평균을 출력.

Ex 2.
1. 빈 리스트(numbers)를 생성.
2. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
3. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
4. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

Ex 3.
1. 빈 리스트 numbers를 만듦.
2. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
3. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive   리스트를 만들고 출력.

Ex 4.
1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
2. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

Ex 5.
1. numbers1: 100 미만의 정수 난수 10개를 저장하는 리스트.
2. numbers2: 100 미만의 정수 난수 10개를 저장하는 리스트.
3. multiplication: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
4. subtraction: numbers1의 원소에서 같은 인덱스에 있는 numbers2의 원소를 뺀 값을 저장하는 리스트.
numbers1, numbers2, multiplication, subtraction를 출력.

#Ex 1.

In [ ]:
# Ex 1.

result = []
for i in range(1, 6):
  num = random.randint(1, 10)
  result.append(num)
  total = sum(result)
  avg = total / len(result)

print('랜덤 정수 5개 ' + '=', result)
print('리스트 정수의 합 ' + '=', total)
print('평균 ' + '=', avg)

랜덤 정수 5개 = [9, 7, 2, 5, 8]
리스트 정수의 합 = 31
평균 = 6.2

#Ex 2.

In [ ]:
# Ex 2.

numbers = [random.randint(1, 100) for _ in range(10)]
print('난수 10개 ' + '=', numbers)

evens = [num for num in numbers if num % 2 == 0]
print('짝수 ' + '=', evens)

odds = [num for num in numbers if num % 2 == 1]
print('홀수 ' + '=', odds)

난수 10개 = [34, 60, 28, 22, 20, 56, 4, 27, 20, 10]
짝수 = [34, 60, 28, 22, 20, 56, 4, 20, 10]
홀수 = [27]

#Ex 3.

In [ ]:
# Ex 3.

numbers2 = []
is_positive = []
for i in range(10):
  numbers2.insert(x, random.randint(-10,10))
  if(numbers2[i] > 0):
    is_positive.append(True)
  else:
    is_positive.append(False)

print(numbers2)
print('is_positive =', is_positive)

[-7, -1, 0, -4, -3, -7, -10, -10, 1, 0]
is_positive = [False, False, False, False, False, False, False, False, True, False]

#Ex 4.

In [ ]:
# Ex 4.

gender_code = []
genders = []
for i in range(10):
  gender_code.append(random.randrange(0, 2))
  if(gender_code[i] == 1):
    genders.append('Female')
  else:
    genders.append('Male')

print(gender_code)
print(f'genders = {genders}')

[0, 1, 0, 1, 1, 0, 1, 1, 0, 1]
genders = ['Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female']

#Ex 5.

In [ ]:
# Ex 5.

numbers3 = []
numbers4 = []
multiplication = []
subtraction = []
for i in range(10):
  numbers3.append(random.randrange(100))
  numbers4.append(random.randrange(100))
  multiplication.append(numbers3[i] * numbers4[i])
  subtraction.append(numbers3[i] - numbers4[i])

print(f'numbers3 = {numbers3}')
print(f'numbers4 = {numbers4}')
print(f'multiplication = {multiplication}')
print(f'subtraction = {subtraction}')

numbers3 = [87, 54, 16, 63, 5, 22, 7, 20, 15, 54]
numbers4 = [65, 15, 65, 26, 39, 67, 4, 86, 78, 71]
multiplication = [5655, 810, 1040, 1638, 195, 1474, 28, 1720, 1170, 3834]
subtraction = [22, 39, -49, 37, -34, -45, 3, -66, -63, -17]

List Comprehension(리스트 내포)

1 ~ 10 정수들을 순서대로 리스트에 저장: [1, 2, 3, ..., 9, 10]

In [ ]:
numbers = []
for i in range(1, 11):
  numbers.append(i)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [i for i in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 1 부터 10까지 각 숫자들의 제곱을 출력

squares = [x ** 2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 난수 10개를 저장하는 리스트 [0, 10)

import random
number = [random.randint(0, 11) for i in range(1, 11)]
number

[1, 2, 8, 3, 1, 5, 11, 4, 5, 0]

Ex 1 ~ Ex 5 연습 문제를 list comprehension을 사용해서 작성

# filtering
[value for x in iterable if condition]

# mapping
[value1 if condition else value2 for x in iterable]

#Ex 1.

In [ ]:
# Ex 1.

result = [random.randint(1, 10) for i in range(1, 6)]
print(result)

total = sum(result)
print(total)

avg = total / len(result)
print(avg)

[5, 2, 6, 2, 7]
22
4.4

#Ex 2.

In [ ]:
# Ex 2.

numbers = [random.randint(1, 100) for _ in range(10)]
print('난수 10개 ' + '=', numbers)

evens = [i for i in numbers if i % 2 == 0]
print('짝수 ' + '=', evens)

odds = [i for i in numbers if i % 2 == 1]
print('홀수 ' + '=', odds)

난수 10개 = [55, 36, 90, 48, 20, 70, 25, 51, 15, 42]
짝수 = [36, 90, 48, 20, 70, 42]
홀수 = [55, 25, 51, 15]

#Ex 3.

In [ ]:
# Ex 3.

x = 1
is_positive = True if x > 0 else False # 삼항 연산자

is_positive

True

In [ ]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
print(f'numbers = {numbers}')

is_positive = [True if i > 0 else False for i in numbers]
is_positive

numbers = [5, -6, 6, -3, -1, 1, 5, 7, -7, 0]

[True, False, True, False, False, True, True, True, False, False]

#Ex 4.

In [ ]:
# Ex 4.

gender_codes = [random.randrange(0, 2) for _ in range(10)]
print(f'gender_codes = {gender_codes}')

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(f'genders = {genders}')

gender_codes = [1, 0, 0, 1, 0, 0, 0, 1, 1, 1]
genders = ['Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female']

#Ex 5.

In [ ]:
# Ex 5.

numbers1 = [random.randrange(100) for _ in range(10)]
numbers2 = [random.randrange(100) for _ in range(10)]
print(f'numbers1 = {numbers1}')
print(f'numbers2 = {numbers2}')

multiplication = [x * y for x, y in zip(numbers1, numbers2)]
print(f'multiplication = {multiplication}')

subtraction = [x - y for x, y in zip(numbers1, numbers2)]
print(f'subtraction = {subtraction}')

numbers1 = [1, 49, 71, 84, 14, 42, 30, 96, 53, 49]
numbers2 = [14, 1, 10, 78, 71, 50, 65, 11, 58, 22]
multiplication = [14, 49, 710, 6552, 994, 2100, 1950, 1056, 3074, 1078]
subtraction = [-13, 48, 61, 6, -57, -8, -35, 85, -5, 27]

In [ ]:
gender_codes = [1, 2, 1, 2, 3]
# 1 -> 'M', 2 -> 'F', 3 -> 'Unknown' mapping
# x == 1 ? 'M' : (x == 2 ? 'F' : 'Unknown')

genders = ['M' if x == 1 else ('F' if x == 2 else 'Unknown') for x in gender_codes]
genders

['M', 'F', 'M', 'F', 'Unknown']