<a href="https://colab.research.google.com/github/SpaceXdaehan/Python/blob/main/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fuction(함수)

* fuction(함수): 기능을 수행하는 코드 블록.
* argument: 함수를 호출하는 곳에서 함수에게 전달하는 값.
* parameter: argument를 저장하기 위해서 함수 선언부에서 선언하는 지역변수.
* return value: 함수가 기능의 수행 결과로 리턴하는 값.
  * return value가 있는 함수
  * return value가 없는 함수
* 파이썬 함수 정의 방법:
  ```
  def function_name([param, ...]):
    ["""문서화 주석 - 함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
    => 함수 기능 구현
    [return 값(return 값 없으면 생략 가능)]
  ```
* return value가 없는 경우에,
  * return 문장을 생략.
  * return None을 명시할 수도 있음(없음을 리턴한다).

In [ ]:
def subtract(x, y):
  """ 2개의 숫자 x, y를 전달 받아서 x - y 결과를 리턴하는 함수.
  """
  return x - y

In [ ]:
result = subtract(10, 5)
result

5

In [ ]:
def repeat_message(message, n):
  """ 문자열(message)과 정수(n)을 전달받아서, message를 n번 출력하는 함수.
  """
  for _ in range(n):
    print(message)
  return None # 리턴 값이 없으면 보통 return문을 생략하지만 return None으로 명시하기도 함.

In [ ]:
repeat_message('파이썬', 3)

파이썬
파이썬
파이썬

#Ex 1.
* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

#Ex 2.
* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

#Ex 3.
* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

#Ex 4.
* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
  * 분산 = (값 - 평균)**2 들의 평균

In [ ]:
import random

In [ ]:
# Ex1.

def make_list(start, end, n):
    numbers = [random.randrange(start, end) for _ in range(n)]
    return numbers

In [ ]:
make_list(0, 10, 5)

[6, 2, 4, 7, 3]

In [ ]:
# Ex 2.

def calc_sum(num_list):
    total = 0
    for x in num_list:
        total += x

    return total

In [ ]:
numbers = make_list(0, 10, 5)
print(numbers)
total = calc_sum(numbers)
print(total)

[4, 8, 0, 3, 3]
18

In [ ]:
# Ex 3.

def calc_mean(num_list):
    mean = calc_sum(num_list) / len(num_list)
    return mean

In [ ]:
calc_mean(numbers)

3.6

In [ ]:
# Ex 4.

def calc_var(num_list):
    mean = calc_mean(num_list)
    squares = [(x - mean) ** 2 for x in num_list]
    variance = calc_mean(squares)
    return variance

In [ ]:
calc_var(numbers)

6.640000000000001

In [ ]:
# Ex 5.

scores1 = [3, 4, 5, 6, 7]
scores2 = [0, 1, 5, 9, 10]
mean1 = calc_mean(scores1)
mean2 = calc_mean(scores2)
print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')

mean1 = 5.0
mean2 = 5.0

In [ ]:
print(calc_var(scores1))
print(calc_var(scores2))

2.0
16.4

In [ ]:
# 로또번호

def make_lotto_list():
    lottos = []
    for _ in range(5):
        lotto = set()  # set
        while True:
            lotto.add(random.randrange(1, 46))
            if len(lotto) == 6:
                break
        lottos.append(lotto)
    return lottos

In [ ]:
make_lotto_list()

[{12, 21, 28, 31, 37, 38},
 {5, 8, 10, 12, 24, 44},
 {2, 6, 14, 18, 26, 41},
 {12, 17, 24, 31, 40, 45},
 {6, 11, 26, 30, 31, 42}]

파이썬은 2개 이상의 값을 리턴하는 함수를 정의할 수 있다. 함수를 호출한 곳에서는 리턴 값을 튜플로 취급하면 됨.

```
x, y = (1, 2) # tuple의 decomposition기능(성분 분해)
```

In [ ]:
def plus_and_minus(x, y):
  return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
result

(3, -1)

In [ ]:
plus, minus = plus_and_minus(1, 2)
print(plus, minus)

3 -1

숫자들의 리스트를 전달받아서, 최댓값과 최솟값을 리턴하는 함수를 정의

In [ ]:
def find_max_and_min(num_list):
  max = num_list[0] # 리스트의 첫번째 원소를 최댓값이라고 가정.
  min = num_list[0] # 리스트의 첫번쨰 원소를 최솟값이라고 가정.
  for x in num_list: # 리스트의 원소들을 처음부터 끝까지 순서대로 반복하면서.
    if(x > max): # 리스트의 있는 값이 max보다 크다면.
      max = x # 리스트에서 찾은 값으로 max를 변경.
    if(x < min): #리스트에 있는 값이 최솟값보다 작다면.
      min = x # 리스트에서 찾은 값으로 min을 변경.
  return max, min

In [ ]:
numbers = make_list(0, 100, 10)
print(numbers)
max, min = find_max_and_min(numbers)
print(f'max = {max}, min = {min}')

[8, 61, 56, 5, 42, 23, 60, 26, 49, 29]
max = 61, min = 5

숫자들의 리스트를 전달받아서 최댓값과 최솟값의 인덱스(위치)를 리턴하는 함수를 정의. 최댓값이 2개 이상인 경우, 먼저 나오는 최댓값의 인덱스를 리턴.

In [ ]:
def find_max_and_index(num_list):
    max = num_list[0]
    max_index = 0
    for i, v in enumerate(num_list):
        if (v > max):
            max = v
            max_index = i

    return max, max_index

In [ ]:
numbers = [1, 100, 20, 100, 0, -1, 99]
find_max_and_index(numbers)

(100, 1)

In [ ]:
def find_max_and_index(num_list):
  max = num_list[0]
  max_index = 0
  for i, v in enumerate

# Default argument(기본 인수)

* 함수를 정의할 때 파라미터에 설정된 기본값.
  * 함수를 호출할 때 파라미터에 값을 전달하지 않으면, 기본값이 사용됨.
  * 함수를 호출할 떄 파라미터에 값을 전달하면, 기본값은 무시되고 전달한 아규먼트가 사용됨.
* **(주의)** 함수를 정의할 떄, default argument를 갖는 파라미터들은 반드시 default argument를 갖지 않는 파라미터를 뒤에 선언해야함!
  * 기본값을 갖지 않는 파라미터들을 먼저 선언하고, 기본값을 갖는 파라미터들을 뒤에 선언해야함.

In [ ]:
def repeat_message2(msg, n=1):
  for _ in range(n):
    print(msg)

In [ ]:
repeat_message2('배고프다')

배고프다

In [ ]:
repeat_message2('시간이 빠르데', 3)

시간이 빠르데
시간이 빠르데
시간이 빠르데

# argument 전달 방법:

* positional argument: 함수 정의에서 선언된 파라미터 순서대로 아규먼트들을 전달하는 방법.
* keyword argument: `param = value` 이런 형식으로 아규먼트들을 전달하는 방법.
  * keyword argument 방식에서는 파라미터의 순서를 지키지 않아도 됨.
* **(주의)** 함수를 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, 반드시 positional argument 방식을 먼저 사용하고, keyword argument는 나중에 사용해야함.

In [ ]:
def minus(x, y):
  return x - y

In [ ]:
minus(10, 3) # positional argument(순서대로 전달하는 아규먼트다, 위치 그대로 전달하는 아규먼트다.)

7

In [ ]:
minus(x=10, y=3) # keyword argument

7

In [ ]:
minus(y=10, x=3) # keyword argument는 파라미터 순서(position)를 지키지 않아도 됨.

-7

In [ ]:
minus(10, y=3) # positional argument 방식과 keyword argument 방식을 함께 사용하는 경우 무조건 positional argument 방식을 먼저 사용

7

In [ ]:
minus(x=10, 3) # keyword argument가 먼저 오면 오류!

SyntaxError: ignored

# 가변길이 인수(variable-length argument) (아규먼트의 개수가 정해져있지 않다).

* 파이썬은 함수를 호출할 때, 전달하는 argument의 개수가 임의로 변할 수 있는 것.
  * argument를 전달하지 않아도 됨.
* 함수를 정의할 때 파라미터 이름 앞에 `*`를 한개 사용하면 가변길이 인수를 전달받을 수 있음.
* 함수 내부에서는 가변길이 인수는 튜플로 취급.
  * for-in 반복문 사용가능.
  * 인덱스 사용 가능.
* **(주의)**
  * 가변길이 인수는 keyword 방식으로는 전달할 수 없음.
  * 함수를 정의할 때 가변길이 인수를 갖는 파라미터는 오직 1개만 선언 가능하다.

In [ ]:
def add_all(*values):
  total = 0
  for x in values:
    total += x

  return total

In [ ]:
add_all()

0

In [ ]:
add_all(1)

1

In [ ]:
add_all(2)

2

In [ ]:
add_all(1, 2, 3, 4, 5) # 원소 5개짜리 튜플을 전달한 거와 같음.

15

가변길이 인수 뒤에 파라미터가 있는 경우, 그 파라미터는 keyword 방식으로만 argument를 전달할 수 있다.

In [ ]:
def test(*x, y):
  print(x)
  print(y)

In [ ]:
test(1, 2, 3, y=5)

(1, 2, 3)
5

In [ ]:
def keyword_only(*, x, y, z):
  print(f'x={x}, y={y}, z={z}')

In [ ]:
keyword_only(x=1, y=2, z=3)

x=1, y=2, z=3

In [ ]:
print(1, 2, 3)
print()
print('대한')

1 2 3

대한

In [ ]:
print(1, 2, 3, sep=':')

1:2:3

In [ ]:
print('hello', end=' ')
print('ee')

hello ee

# 가변길이 키워드 인수(variable-length keyword argument)

* 함수를 정의할 때 파라미터 이름 앞에 `**`를 붙임
* 가변길이 인수: 함수를 호출할 떄 전달하는 아규먼트의 개수 제한이 없다.
* keyword argument: 함수를 호출할 때 반드시 `param=value` 형식으로 전달해야한다.* 함수 내부에서 가변길이 키워드 인수는 dict로 취급함.
* 함수 호출할 때 파라미터 이름은 아무렇게나 전달해도 됨.
* 가변길이 키워드 인수는 함수에서 한개만 사용 가능하다.

In [ ]:
def test2(**kwargs):
  print(kwargs)

In [ ]:
test2()

{}

In [ ]:
test2(x=1, msg='daehan')

{'x': 1, 'msg': 'daehan'}

In [ ]:
def make_emp_info(emp_no, emp_name, **kwargs):
  emp = {'emp_no' : emp_no, 'emp_name' : emp_name}
  for k, v in kwargs.items():
    emp[k] = v
  return emp

In [ ]:
make_emp_info(1, 'king')

{'emp_no': 1, 'emp_name': 'king'}

In [ ]:
make_emp_info(2, '대한', email='ge@itwill', dept='HR')

{'emp_no': 2, 'emp_name': '대한', 'email': 'ge@itwill', 'dept': 'HR'}

In [ ]:
def print_msg(msg):
  print(f'message={msg}')

In [ ]:
print_msg('안녕하세요')

message=안녕하세요

In [ ]:
print(print_msg('안녕하세요'))

message=안녕하세요
None