<a href="https://colab.research.google.com/github/SpaceXdaehan/Python/blob/main/py08_function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

* 함수는 변수에 할당할 수 있음.
* 함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있음.
  * (함수는 아규먼트가될 수 있다)
* 함수는 다른 함수의 리턴 값이 될 수 있다.
* 함수 내부에서 다른 함수를 정의할 수 있다.

## 함수를 변수에 할당

In [ ]:
def twice(x):
  return 2 * x

In [ ]:
result = twice(100) # 함수 호출 결과(리턴 값)를 변수에 저장.
result

200

In [ ]:
double = twice # 함수 (객체)를 변수에 저장.
double

In [ ]:
double(12)

24

## 함수를 아규먼트로 사용

In [ ]:
def calculate(x, y, fn):
  result = fn(x, y)
  return result

In [ ]:
def plus(x, y):
  return x + y

In [ ]:
calculate(1, 2, plus)

3

In [ ]:
def minus(x, y):
  return x - y

In [ ]:
calculate(1, 2, minus)

-1

## 내부 함수, 함수 리턴

In [ ]:
def make_increment(n): # 외부함수
  def add_n(x):       # 내부함수, 지역함수
    return x + n     # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.

  return add_n

In [ ]:
increase_by_2 = make_increment(2)
increase_by_2

In [ ]:
increase_by_2(100)

102

In [ ]:
increase_by_10 = make_increment(10)
increase_by_10(100)

110

In [ ]:
make_increment(5)(100)

105

# Lambda expression(람다 표현식)

```
lambda param1, param2, ...: expression
```

* 람다 표현식이란: 이름이 없는 함수 표기법
* 함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법.
* 파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않는다.

In [ ]:
minus = lambda x, y: x - y
minus

In [ ]:
minus(1, 2)

-1

In [ ]:
calculate(2, 3, lambda x, y: x * y)

6

In [ ]:
calculate(2, 3, lambda x, y: x / y)

0.6666666666666666

calculate 함수에 두개의 숫자 중에서 더 큰 수를 리턴하는 람다 표현식을 전달

In [ ]:
calculate(1, 3, lambda x, y: x if x > y else y)

3

Ex 2. calculate 함수에 첫번째 아규먼트가 크면 True, 그렇지 않으면 False를 리턴하는 람다표현식을 전달

In [ ]:
calculate(1, 3, lambda x, y: True if x > y else False)

False

In [ ]:
calculate(1, 3, lambda x, y: x > y)

False

## filter 함수

조건에 맞는 원소들만 선택.

In [ ]:
def my_filter(iterable, fn):
  """
  리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만 이루어진 리스트를 리턴.

  param iterable: 리스트.
  param fn:아규먼트가 한개이고, True 또는 False를 리턴하는 함수.
  """
  return [x for x in iterable if fn(x)]

  # result = [] # 필터링 된 원소들을 저장할 빈 리스트
  # for x in iterable:  # 리스트의 원소들을 순서대로 반복하면서,
  #   if fn(x): # 그 원소를 함수에게 전달했을 때 True를 리턴하면
  #   # 필터링 조건을 만족하면
  #     result.append(x)  # 결과 리스트에 필터링된 원소를 추가.
  # return result #필터링된 결과를 가지고 있는 리스트를 리턴.

In [ ]:
numbers = [1, -2, 3, 4, -5, -6, 7]

In [ ]:
my_filter(numbers, lambda x: x > 0)

[1, 3, 4, 7]

In [ ]:
my_filter(numbers, lambda x: x % 2 == 0)

[-2, 4, -6]

In [ ]:
strings = ['python', 'java', 'javascript', 'sql']
# my_filter 함수를 사용해서 strings에서 5글자 이상인 문자열들만 필터링
my_filter(strings, lambda x: len(x) >= 5)

['python', 'javascript']

## map함수

원소들을 규칙에 따라서 다른 값으로 변환.

In [ ]:
def my_mapper(iterable, fn):
  """
  리스트 iterable의 원소들을 함수 fn의 리턴 값으로 변환한 리스트를 리턴.

  param iterable: 리스트.
  param fn: 아규먼트가 1개이고 리턴 값이 있는 함수.
  """
  return [fn(x) for x in iterable]

# result = []
# for x in iterable:
#   result.append(fn(x))
# return result

In [ ]:
print(numbers)

[1, -2, 3, 4, -5, -6, 7]

In [ ]:
# 리스트 numbers의 원소들의 제곱으로 이루어진 리스트
my_mapper(numbers, lambda x: x ** 2)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# 리스트 numbers의 원소가 짝수이면 'even', 홀수이면 'odd'를 저장하는 리스트
my_mapper(numbers, lambda x: 'even' if x % 2 == 0 else 'odd')

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
strings

['python', 'java', 'javascript', 'sql']

In [ ]:
# strings가 가지고 있는 문자열의 길이들로 이루어진 리스트
my_mapper(strings, lambda x: len(x))

[6, 4, 10, 3]

In [ ]:
# strings의 문자열들을 모두 대문자로 변환한 리스트
my_mapper(strings, lambda x: x.upper())

['PYTHON', 'JAVA', 'JAVASCRIPT', 'SQL']