<a href="https://colab.research.google.com/github/SpaceXdaehan/Python/blob/main/py09_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 프로그래밍(OOP: Object Oriented Programing)

In [ ]:
class Student:
  # 생성자 함수: 생성자를 호출하면 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.
  # 실제 가지고 있는 아규먼트의 개수는 self뒤부터, self아규먼트에는 파이썬 인터프리터가 자동으로 채워줌.
  def __init__(self, no, name, python, java, swift): # 맴버변수 초기화.
    self.no = no
    self.name = name
    self.python = python
    self.java = java
    self.swift = swift
  # 5개의 필드를 가지고 있는 객체가 생성됨.

  def get_total(self):
    # 파이썬의 메서드는 멤버들을 접근할 때 반드시 self 키워드를 사용해야함.
    return self.python + self.java + self.swift

  def get_average(self):
    return self.get_total() / 3

  def print_info(self):
    print(f'Student(no={self.no}, name={self.name}, python={self.python}, java={self.java}, swift={self.swift})')

In [ ]:
# Student 타입의 객체를 생성할 수 있음.
# 파이썬에서는 new 키워드를 사용하지 않음, 클래스 이름을 함수처럼 호출하면 생성자를 호출함.
# 생성자호출: 생성자 이름 = 클래스 이름()
student1 = Student(1, '대한', 100, 90, 80)

In [ ]:
print(student1) # 객체 student1을 문자열로 출력.

<__main__.Student object at 0x7f47b3fc07c0>

In [ ]:
student1 # 객체 student1의 식(expression)을 출력.

In [ ]:
student1.python

100

In [ ]:
student1.get_total()

270

In [ ]:
student1.get_average()

90.0

In [ ]:
student1.print_info()

Student(no=1, name=대한, python=100, java=90, swift=80)

* class: Pont
  * 2차원 평면의 점의 좌표 (x, y)를 표현하는 클래스
* 생성자 함수: x, y를 초기화. x, y의 기본 값은 0.
* 메서드
  * move: 점의 좌표를 원래 위치에서 dx, dy 만큼 이동시키는 메서드.
  * distance: 현재 점의 위치에서 다른 점까지의 거리를 계산해서 리턴하는 메서드.
    * `sqrt((x1 - x2) **2 + (y1 - y2) **2)`
>>> $ \sqrt{}$

In [ ]:
import math
# math 모듈을 임포트 -> math.sqrt()

In [ ]:
class Point:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  def move(self, dx, dy):
    self.x += dx
    self.y += dy

  def distance(self, pt):
    return math.sqrt((self.x - pt.x) **2 + (self.y - pt.y) **2)

In [ ]:
pt1 = Point() # 생성자 함수의 default argument 사용
pt1

In [ ]:
print(f'x={pt1.x}, y={pt1.y}')

x=0, y=0

In [ ]:
pt1.move(1, 1)
print(f'x={pt1.x}, y={pt1.y}')

x=5, y=5

In [ ]:
pt2 = Point(1, 2)
print(f'x={pt2.x}, y={pt2.y}')

x=1, y=2

In [ ]:
pt1.distance(pt2)

5.0

# magic method

파이썬의 모든 클래스가 같은 이름으로 가지고 있는 특별한 메서드.

특별한 경우에 파이썬 인터프리터에 의해서 자동으로 호출되는 메서드.

* `__init__()`:
 * 생성자를 호출하면 자동으로 호출되는 init메서드.
 * 인스턴스의 필드(프로퍼티)들을 선언하고 초기화 하는 메서드.

* `__str__()`:
  * print() 함수의 아규먼트 객체일 떄 자동으로 호출되는 메서드.
  * 문자열을 리턴하는 메서드.

* `__repr__()`: representation(표현).
  * 식(expresstion)을 출력할 때 자동으로 호출되는 메서드.
  * `print()` 함수의 동작 방식:
    * 객체를 출력하기 위해서, 그 객체의 `__str__()`메서드를 호출함.
    * `__str__()` 메서드가 없는 경우에는, `__repr__()`메서드를 호출함.
    * `__str__()` 메서드와 `__repr__()`메서드 모두 없는 경우에는 기본 문자열 (object at 0x...)로 출력.

In [ ]:
class T:
  def __str__(self):
    return 'class T instance'

  def __repr__(self):
    return '너 T야?'

In [ ]:
t = T() # 생성자 호출 -> __init__() 메서드 호출.

In [ ]:
print(t) # __str__() 메서드 자동으로 호출.

class T instance

In [ ]:
t # __repr__() 메서드 자동 호출.

너 T야?

* `__eq__()`:
  * `==` 비교 연산자를 사용했을 때 자동으로 호출되는 메서드.
  * 두 객체가 같은 지(True) 다른 지(False)를 리턴.

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
list1 == list2 # list 클래스가 __eq__ 메서드를 구현하고 있기 때문에.

True

In [ ]:
class Number:
  def __init__(self, n):
    self.n = n

  def __repr__(self):
    return str(self.n)

  def __eq__(self, other):
    return self.n == other.n

In [ ]:
n1 = Number(1)
n1

1

In [ ]:
n2 = Number(1)
n2

1

In [ ]:
n1 == n2 # n1.__eq__(n2)

True

# Exercise

* class Score
  * 프로퍼티: korean, math, science(int 타입)
  * 메서드: `__init__()`, `__repr__()`, `__eq__()`, `get_total`, `get_mean`

* class Student
  * 프로퍼티: no(int), name(str), score(Score)
  * 메서드: `__init__()`, `__repr__()`

In [ ]:
class Score:

  def __init__(self, korean=0, math=0, science=0):
    self.korean = korean
    self.math = math
    self.science = science

  def __repr__(self):
    return f'korean={self.korean}, math={self.math}, science={self.science}'

  def __eq__(self, other):
    return (self.korean == other.korean and
            self.math == other.math and
            self.science == other.science)

  def get_total(self):
    return self.korean + self.math + self.science

  def get_mean(self):
    return self.get_total() / 3

  def print_info(self):
    print(f'korean={self.korean}, math={self.math}, science={self.science}')

In [ ]:
s = Score(100, 90, 80)

In [ ]:
s.get_total()

270

In [ ]:
s.get_mean()

90.0

In [ ]:
s1 = Score(math=100) # 아규먼트에 기본 값을 설정해 놔서 수정할 수 있는 과목의 점수만 선택해서 줄 수 있음
s1

korean=0, math=100, science=0

In [ ]:
s.print_info()

korean=100, math=90, science=80

In [ ]:
s == s1

False

In [ ]:
s2 = Score(math = 100)
s1 == s2

True

In [ ]:
class Student:

  def __init__(self, no, name, score):
    self.no = no
    self.name = name
    self.score = score

  def __repr__(self):
    return f'Student no={self.no}, name={self.name}, score={self.score} '

In [ ]:
stu = Student(1, 'daehan', s)
stu

Student no=1, name=daehan, score=korean=100, math=90, science=80

In [ ]:
stu1 = Student(2, 'han', Score())
stu1

Student no=2, name=han, score=korean=0, math=0, science=0

In [ ]:
stu.score == stu1.score
# 위의 코드는 stu.score.__eq__(stu1.score)

False

# 상속(Inheritance)

* super class(상위 클래스), parent class(부모 클래스), base class(기본 클래스)
* sub class(하위 클래스), child class(자식 클래스), derived class(유도 클래스)
* 상속: 상위 클래스의 속성(데이터)들과 기능(메서드)들을 하위 클래스에서 재상용하는 것.
* 일반적으로 **Is-A** 관계가 성립하는 객체들을 상속을 사용해서 구현함.
  * 학생은 사람이다(Student Is A Person)

In [ ]:
class Person:
  def __init__(self, name, age=0): # defult 아규먼트들은 뒤쪽에 위치.
    self.name = name
    self.age = age

  def hello(self):
    print(f'안녕하세요, 저는 {self.name} 입니다. 나이는 {self.age} 입니다.')

In [ ]:
daehan = Person('daehan')
daehan.hello()

안녕하세요, 저는 daehan 입니다. 나이는 0 입니다.

In [ ]:
# Person을 상속하는 Student 클래스
class Student(Person):

  # 생성자 method override
  def __init__(self, name, age=1, school='Test'):
    # 하위 클래스에서 상위 클래스의 생성자 함수를 호출.
    super().__init__(name, age)
    self.school = school

  # hello method override
  def hello(self):
    super().hello()
    print(f'학교는 {self.school}')

In [ ]:
stu = Student('lion')

In [ ]:
stu.hello()

안녕하세요, 저는 lion 입니다. 나이는 1 입니다.
학교는 Test

# Method Override

* 상위 클래스의 메서드를 하위 클래스에서 재정의하는 것.
  * 파이썬에서는 메서드의 이름만 같으면 (파라미터 타입/개수와 상관 없이) 메서드가 재정의됨.
    * 파이썬은 같은 이름으로 2개 이상의 메서드(함수)를 가질 수 없음 - overloading은 제공하지 않음.
  * 자바에서는 메서드 이름, 파라미터 타입/개수/순서가 모두 동일한 경우에 메서드가 재정의됨.
    * 파라미터가 다르면 같은 이름의 메서드가 2개 이상 있을 수 있음 - overloading
* 하위 클래스에서 재정의(overrid)된 상위 클래스의 메서드를 명시적으로 호출하기 위해서는 super().method_name(...)의 형식으로 호출함.

In [ ]:
def a():
  print('a')

In [ ]:
def a(msg):
  print(msg)

In [ ]:
a() # 오류

TypeError: ignored

파이썬은 함수(메서드) 오버로딩을 제공하지 않음.

파라미터가 다르다고 해서 같은 이름으로 함수(메서드)를 정의할 수 없다.

같은 이름으로 함수를 정의하면, 가장 마지막에서 정의한 함수만 남음.

파이썬은 함수(메서드) 오버로딩 대신에, default argument를 이용하면, 같은 이름의 함수를 여러가지 방법으로 호출할 수 있음.

In [ ]:
def a(msg='a'):
  print(msg)

In [ ]:
a()

a

In [ ]:
a('TEST')

TEST