<a href="https://colab.research.google.com/github/SpaceXdaehan/Python/blob/main/py10_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오류(Error)처리

* 코드에서 오류가 발생한 위치와 원인을 파악해서 오류가 발생하지 않도록 코드를 수정하는 방법.
* 오류가 발생하더라도 프로그램이 비정상적으로 종료되지 않고 계속 실행되도록 처리하는 방법. --> (try구문)
  * Java는 반드시 try-catch 구문을 사용해야만 하는 Exception 종류들이 있음.
    * NullPointerException: try-catch가 필수는 아니다.
    * IoException, SQLException, ...: try-catch가 필수.
  * Python은 모든 오류처리에서 try-except가 필수는 아니다.

**Python try-except 구문**

```
try:
  (1) 실행할 코드블록을 작성
except [에러 클래스 이름[as 별명(변수이름)]]
  (2) 에러가 발생했을 때 실행할 코드 블록을 작성
  # else부터는 생략가능
[else:
  (3) 에러가 발생하지 않았을 때 실행할 코드 블록을 작성]
[finally:
  (4) try 블록 실행중에 에러 발생 여부와 상관없이 항상 실행할 코드 블록을 작성]
```

* 에러가 발생하지 않는 경우: (1) -> (3) -> (4) 순서로 코드가 실행됨.
* 에러가 발생한 경우: (1) -> (2) -> (4) 순서로 코드가 실행됨.
* Except 구문에서 에러 클래스의 이름을 생략하면, 모든 종류의 에러를 잡아서 처리할 수 있음.
* 특정 종류의 에러만 처리하고자 할 떄는, except 구문에서 에러 클래스 이름을 명시함.

In [ ]:
try:
  x = int(input('정수 입력>>> '))
  print(x)
except:
  print('정수로 입력해야 합니다.')

정수 입력>>> 12.5
정수로 입력해야 합니다.

In [ ]:
try:
  x = int(input('정수를 입력')) # 1
except ValueError as e:
  print(e) # 2
else:
  print(f'x={x}') # 3
finally:
  print('=== end ===') # 4

정수를 입력0.5
invalid literal for int() with base 10: '0.5'
=== end ===

In [ ]:
try:
  x = int(input('정수를 입력')) # 1
except ValueError as e:
  print(e) # 2
else:
  print(f'x={x}') # 3
finally:
  print('=== end ===') # 4

정수를 입력5
x=5
=== end ===

# Ex 1.
* 정수 1개를 입력받고, 입력받은 정수를 출력하세요.

* 정수로 변환할 수 없는 문자열이 입력된 경우에는 적절한 오류 메시지를 출력한 후 다시 입력을 받아야 함.

In [ ]:
for x in range(100):
  try:
    x = int(input('정수를 입력'))
    print(f'x={x}')
  except:
   print('정수만 입력하세요')
  else:
    break

정수를 입력0.5
정수를 입력하세요
정수를 입력0.5
정수를 입력하세요
정수를 입력0.5
정수를 입력하세요
정수를 입력0.5
정수를 입력하세요
정수를 입력0.5
정수를 입력하세요
정수를 입력0.5
정수를 입력하세요
정수를 입력5

In [ ]:
while True: # 무한 반복문 - 정술ㄹ 입력받았을 때 출력하고 반복문 종료
  try:
    n = int(input('정수를 입력하세요'))
    print(f'n={n}')
    break
  except:
    print('정수만 입력해야됩니다')

정수를 입력하세요0.5
정수만 입력해야됩니다
정수를 입력하세요.05
정수만 입력해야됩니다
정수를 입력하세요.05
정수만 입력해야됩니다
정수를 입력하세요0.5
정수만 입력해야됩니다
정수를 입력하세요5
n=5

# Ex 2. 단어 개수 세기

* 리스트 words가 가지고 있는 단어들을 key로 하고, 그 단어가 리스트에 나오는 횟수를 값으로 하는 dict를 생성하고 출력하세요.

In [ ]:
words = ['java', 'python', 'javascript', 'python', 'sql', 'java', 'python']
#> 결과: {'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [ ]:
word_counts = {} # 단어/단어 빈도수를 저장할 빈 dic
for w in words: # 리스트 words에서 단어를 순서대로 꺼내서 반복하면서
  if w in word_counts: # 단어 w가 dic의 키(key)로 존재하면
    word_counts[w] += 1 # 기존 단어의 빈도수를 1증가
  else: # 리스트의 단어 w가 아직 dic의 키로 존재하지 않을 때 (단어를 처음 발견했을 때)
    word_counts[w] = 1
  print(word_counts)

{'java': 1}
{'java': 1, 'python': 1}
{'java': 1, 'python': 1, 'javascript': 1}
{'java': 1, 'python': 2, 'javascript': 1}
{'java': 1, 'python': 2, 'javascript': 1, 'sql': 1}
{'java': 2, 'python': 2, 'javascript': 1, 'sql': 1}
{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [ ]:
word_counts

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [ ]:
word_counts = {}
for w in words:
  try:
    word_counts[w] += 1 # 기존 키를 갖는 아이템 값을 변경
  except:
    word_counts[w] = 1 # 새로운 키-값 아이템을 추가
print(word_counts)

{'java': 2, 'python': 3, 'javascript': 1, 'sql': 1}

In [ ]:
# collections 모듈에서 defaultdict 함수를 임포트 해야함
from collections import defaultdict

In [ ]:
word_counts2 = defaultdict(int)
for w in words:
  word_counts2[w] += 1
print(word_counts2)

defaultdict(<class 'int'>, {'java': 2, 'python': 3, 'javascript': 1, 'sql': 1})